/* Popup and tooltip theme */
.leaflet-popup-content-wrapper {
  background:#0f141c;
  color:#eaf2ff;
  border:1px solid #1a2230;
}

.leaflet-popup-tip {
  background:#0f141c;
}

.leaflet-tooltip {
  background:#0f141c;
  color:#cfe5ff;
  border:1px solid #1a2230;
}

.leaflet-control-zoom a {
  background:#0f141c;
  color:#cfe5ff;
  border:1px solid #1a2230;
}